{
    # turn on if your want SSL
    auto_https off
}

:80, :443 {
    # replace host with your recorder domain
    @recorder host recorder.serverbee.app
    reverse_proxy @recorder recorder:9528

    # optional
    # @web host web.serverhub.app
    # reverse_proxy @web web:9527

    route /api/i/* {
        uri strip_prefix /api/i
        reverse_proxy interactor:9529
    }

    reverse_proxy hub:3000
}
